<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3 class="text-center">Angular Todo</h3>
        <hr>
        <app-todo-form (change)="refreshList()"></app-todo-form>
        <div class="panel panel-default">
            <div class="panel-heading">Total Item: {{ todos.length }}</div>
            <ul class="list-group">
              <app-todo 
                [todo]="todo" 
                *ngFor="let todo of todos" 
                (change)="refreshList()"
                class="list-group-item"></app-todo>
            </ul>
        </div>
        
    </div>
  </div>
</div>